.History {
  overflow: auto;
  padding: 1em;
  flex: 1 1;
}

.HistoryItem {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.HistoryItem:hover {
  box-shadow: inset 0 0 0 1px black;
}