.Map {
  display: flex;
  flex-basis: 80%;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.Cell {
  display: flex;
  flex: 1 0 20%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 10px solid white;
  box-shadow: inset 0 0 0 1px black;
}

.Cell.selected {
  background-color: dodgerblue;
}