.SearchForm {
  display: flex;
  padding: 20px;
  height: 30px;
}

.SearchInput {
  flex: 1 0 calc(80% - 10px);
  border-style: none;
  height: 20px;
  padding: 5px;
}

.SearchInput.error {
  box-shadow: inset 0 0 0 4px crimson;
}

.SearchButton {
  flex: 1 0 20%;
  height: 30px;
  border-style: none;
}